@import "vars.less";

html {
   font-size: 20px;
}

body {
   font-family: 'Lato', 'Source Sans Pro', sans-serif;
   font-size: 1rem;
   margin: 0 auto;
}   
 

*,
*:before,
*:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



/*blocks*/
@import "blocks/conteiner.less";
@import "blocks/header.less";
@import "blocks/logo.less";




/*mobile*/
@media (max-width: 720px) {
    .conteiner {
        max-width: 720px;
        padding-left: 10px;
        padding-right: 10px;        
     }
}