html {
  font-size: 20px;
}
body {
  font-family: 'Lato', 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*blocks*/
.conteiner {
  width: 100%;
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.header {
  max-height: 660px;
  background: url(../img/header/header-1440.png) no-repeat 100% 100%;
  background-color: #F4F6F9;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 8.2rem;
}
.header__title {
  margin: 0;
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  text-align: left;
  padding-bottom: 1.5rem;
  color: #333333;
  width: 50%;
}
.header__subtitle {
  font-family: Lato;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 2.5rem;
  color: #4F4F4F;
  width: 41%;
}
.header__buttons {
  display: flex;
  column-gap: 10%;
  width: 35%;
}
.header__buttons img {
  max-width: 157px;
  transition: transform 0.2s linear;
}
.header__buttons img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
@media (max-width: 1120px) {
  .header {
    background: linear-gradient(90deg, #f4f6f9 30%, rgba(244, 246, 249, 0)), url(../img/header/header-1440.png) no-repeat 100% 100%;
    background-color: #F4F6F9;
  }
}
@media (max-width: 720px) {
  .header {
    background: none;
    background-color: #F4F6F9;
  }
  .header__wrapper {
    justify-content: center;
    padding-top: 1.7rem;
    padding-bottom: 3rem;
  }
  .header__title {
    font-size: 1.5rem;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .header__subtitle {
    font-size: 0.8rem;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .header__buttons {
    width: 100%;
    justify-content: center;
    text-align: center;
    column-gap: 3%;
  }
}
.logo {
  display: flex;
  align-items: flex-end;
  padding-bottom: 6.6rem;
}
.logo__text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  text-decoration: none;
  color: #5282F0;
  padding-left: 0.05rem;
}
/*mobile*/
@media (max-width: 720px) {
  .logo {
    justify-content: center;
    padding-bottom: 4.3rem;
  }
}
.about {
  height: 592px;
  margin: 0 auto;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), #ffffff 50%) 100% 100%, url(../img/about/about-bg-1440.png) left no-repeat;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__img {
  display: flex;
  position: relative;
  width: 460px;
  height: 400px;
  margin-top: 5.5rem;
}
.about__img-card {
  position: absolute;
  z-index: 1;
  max-width: 360px;
}
.about__img-player {
  position: absolute;
  max-width: 360px;
  bottom: 0;
  right: 0;
}
.about__text {
  flex-basis: 40%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.2rem;
  padding-top: 6.5rem;
}
.about__text-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.05rem;
  text-align: left;
  color: #00ADEE;
}
.about__text-subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.85rem;
  text-align: left;
  color: #333333;
}
.about__text-date {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.15rem;
  text-align: left;
  color: #4F4F4F;
}
.about__text-link {
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.05rem;
  text-align: left;
  color: #00ADEE;
  flex-grow: 1;
}
@media (max-width: 992px) {
  .about__text {
    flex-basis: 30%;
    padding-top: 3rem;
    row-gap: 0.9rem;
  }
}
@media (max-width: 720px) {
  .about {
    height: 800px;
    margin: 0 auto;
    background: linear-gradient(180deg, #ffffff 40%, rgba(255, 255, 255, 0)) 100% 100%, url(../img/about/about-bg-1440.png) bottom;
  }
  .about__wrapper {
    justify-content: center;
  }
  .about__img {
    order: 1;
    width: 320px;
    height: 280px;
    margin-top: 3.5rem;
  }
  .about__text {
    flex-basis: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.2rem;
    padding-top: 2.7rem;
  }
  .about__text-title,
  .about__text-subtitle,
  .about__text-date,
  .about__text-link {
    text-align: center;
  }
}
@media (max-width: 360px) {
  .about {
    height: 856px;
    margin: 0 auto;
    background: linear-gradient(180deg, #ffffff 54%, rgba(255, 255, 255, 0)) 100% 100%, url(../img/about/about-bg-360.png) bottom no-repeat;
  }
}
/*mobile*/
@media (max-width: 720px) {
  .conteiner {
    max-width: 720px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
