html {
  font-size: 20px;
}
body {
  font-family: 'Lato', 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*blocks*/
.conteiner {
  width: 100%;
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.header {
  max-height: 660px;
  background: url(../img/header/header-1440.png) no-repeat 100% 100%;
  background-color: #F4F6F9;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 8.2rem;
}
.header__title {
  margin: 0;
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  text-align: left;
  padding-bottom: 1.5rem;
  color: #333333;
  width: 50%;
}
.header__subtitle {
  font-family: Lato;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 2.5rem;
  color: #4F4F4F;
  width: 41%;
}
.header__buttons {
  display: flex;
  column-gap: 10%;
  width: 35%;
}
.header__buttons img {
  max-width: 157px;
  transition: transform 0.2s linear;
}
.header__buttons img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
@media (max-width: 1120px) {
  .header {
    background: linear-gradient(90deg, #f4f6f9 30%, rgba(244, 246, 249, 0)), url(../img/header/header-1440.png) no-repeat 100% 100%;
    background-color: #F4F6F9;
  }
}
@media (max-width: 720px) {
  .header {
    background: none;
    background-color: #F4F6F9;
  }
  .header__wrapper {
    justify-content: center;
    padding-top: 1.7rem;
    padding-bottom: 3rem;
  }
  .header__title {
    font-size: 1.5rem;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .header__subtitle {
    font-size: 0.8rem;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .header__buttons {
    width: 100%;
    justify-content: center;
    text-align: center;
    column-gap: 5%;
  }
}
.logo {
  display: flex;
  align-items: flex-end;
  padding-bottom: 6.6rem;
}
.logo__text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  text-decoration: none;
  color: #5282F0;
  padding-left: 0.05rem;
}
/*mobile*/
@media (max-width: 720px) {
  .logo {
    justify-content: center;
    padding-bottom: 4.3rem;
  }
}
/*mobile*/
@media (max-width: 720px) {
  .conteiner {
    max-width: 720px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
