// main: ../style.less

.logo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 6.6rem;
}

.logo__text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    text-decoration: none;
    color: @blue;
    padding-left: 0.05rem;    
}

/*mobile*/
@media (max-width: 720px) {
    
    .logo {
        justify-content: center;
        padding-bottom: 4.3rem;
    }
}